/* Formatting for html-tables */
@use "./var" as *;

table {
	border-color: black;
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 1.2em;
	margin-top: 1rem;
	margin-bottom: 1rem;

	& thead tr th {
		color: $scheme-primary;
		overflow: hidden;
		word-break: normal;
		font-weight: 700;
		border-width: 1px 1px 2px 1px;
	}

	& tbody tr td {
		border-width: 1px;
	}

	& tbody tr td,
	& thead tr th {
		text-align: left;
		vertical-align: top;
		padding: 1rem 0.8rem;
		line-height: 1.5em;
		border-color: rgba(25, 25, 28, 0.2);
		border-style: solid;
		border-collapse: collapse;
	}
}
