{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "max-params": 1,
    "no-unused-vars": 1,
    "no-warning-comments": 0,
    "@typescript-eslint/no-unused-vars": 1,
    "no-useless-catch": 1,
    "unicorn/prefer-node-protocol": 0,
    "unicorn/empty-brace-spaces": 1,
    "unicorn/import-style": 0,
    "comma-dangle": 0,
    "@typescript-eslint/no-empty-function": 1
  }
}
