lib
build
node_modules
bin
coverage
.editorconfig
.eslintrc
.gitignore
.npmrc
.npmignore
.nyc_output
.prettierignore
kipper-standalone.js
kipper-standalone.min.js
kipper/web/src/
*.yaml
*.json
CITATION.cff
flake.nix
flake.lock
.envrc
.direnv
