/**
 * This is the source file of your program. Here all the logic will be written and then executed during runtime.
 *
 * Visit our quickstart guide to learn more about the language and how to use it:
 * https://kipper-lang.org/docs/quickstart
 */

def main() -> void {
	print("Hello world!");
}

main();
