{
  "name": "<PACKAGE_NAME>",
  "description": "<PACKAGE_DESCRIPTION>",
  "version": "<PACKAGE_VERSION>",
  "scripts": {
  	"run": "kipper run ./src/main.kip",
  	"build": "kipper compile"
  },
  "dependencies": {
		"@kipper/cli": "<KIPPER_VERSION>"
	},
  <PROJECT_REPO>
  "keywords": [
  	"kipper"
  ],
  "author": "<PACKAGE_AUTHOR>",
  "license": "<PACKAGE_LICENSE>",
  "homepage": "<PACKAGE_GIT_REPOSITORY>"
}
