<div class="red-highlight-text">
    <p>This page has been moved to <a href="<%= redirectUrl %>"><code><%= redirectPageTitle %></code></a>, please
        refrain from referencing this site in this or future versions.
    </p>
    <p>
        Please note though in previous versions this page might still exist or may be reintroduced in future
        versions of the docs, so the status of this page can still change in the future.
    </p>
</div>
