<!-- Phone Path Nav - To not show the entire sidebar on phones and simplify the display -->
<nav id="phone-docs-nav">
    <ul class="no-style-list">
        <li id="phone-docs-nav-bars-menu"><i class="fa-solid fa-bars"></i></li>
        <%- include('./page-nav-path', {
            sidebarNav: sidebarNav,
            thisFile: thisFile,
            rootDir: rootDir,
            thisVersionIndex: thisVersionIndex,
            absoluteSrcRootDir: absoluteSrcRootDir,
            thisNavTreeItem: thisNavTreeItem,
            isIndexFile: isIndexFile,
            isHiddenFile: isHiddenFile,
        }) %>
    </ul>
</nav>
