<header id="page-header-wrapper">
    <div class="header-text-content flex-parent-container flex-fill-to-parent flex-column flex-center">
        <div id="page-header" class="white-text">
            <h1><%= typeof title != "undefined" ? title : "Kipper" ;%></h1>
        </div>
        <div id="page-description" class="white-text">
            <p><%= typeof description != "undefined" ? description : "The new customisable and easy to use type-safe language for the web and Node.js! " ;%></p>
        </div>
    </div>
</header>
