<header id="nav-header" class="page-header">
    <div class="header-text-content flex-parent-container flex-fill-to-parent flex-column flex-center">
        <div id="page-header" class="white-text">
            <h1><%= typeof title != "undefined" ? title : "Kipper" ;%></h1>
        </div>
        <div id="page-description" class="white-text">
            <p><%= typeof description != "undefined" ? description : "The simple, easy-to-use and fast open-source language designed for Browsers, Node.js and Deno." ;%></p>
        </div>
    </div>
</header>
