<div id="search-background-overlay"></div>
<div id="search-result-overlay">
    <div class="flex-column flex-parent-container" id="search-result"></div>
</div>
<script type="module" src="<%= isNestedDir ? ".." : "."; %>/js/search.ts"></script>
