<div class="search-bar-wrapper">
    <ul class="no-style-list">
        <li class="search-icon-wrapper">
            <i class="search-icon fa-solid fa-magnifying-glass"></i>
        </li>
        <li id="<%= searchBarId %>" class="search-bar">
            <label for="<%= searchBarId %>-input"></label>
            <input
                id="<%= searchBarId %>-input"
                class="search-bar-input"
                type="search"
                placeholder="Search..."
                spellcheck="false"
            />
        </li>
    </ul>
</div>
