/*! Docs Formatting */

.docs-page-content-container {
	display: flex;
}

#docs-sidebar-nav-wrapper {
	display: flex;
	flex-direction: column;
	border-right: 1px solid rgba(25, 25, 28, 0.2);
	max-width: 16rem;
	min-width: 200px;
	padding: 2em 1.5em;
}

@media (max-width: 920px) {
	.docs-page-content-container {
		width: 60vw;
		padding: 2rem;
	}

	#docs-sidebar-nav-wrapper {
		width: 20vw;
	}
}

@media (min-width: 920px) {
	.docs-page-content-container {
		width: 55vw;
		padding: 4vw 4vw 4vw 6vw;
	}

	#docs-sidebar-nav-wrapper {
		width: 25vw;
	}
}

#docs-content {
	flex-grow: 1;
	width: inherit;

	& > section > article :first-child h1 {
		margin-top: 0.6rem;
	}

	img {
		width: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	p,
	div {
		& + p,
		& + div:not(.code-toolbar, .toolbar, .toolbar-item), /* Avoid affecting Prism toolbar */
		& + div.code-toolbar pre[class*="language-"] {
			margin: var(--default-parapgraph-margin) 0 0 0;
		}
	}

	div:last-child,
	article:last-child {
		&,
		& div.code-toolbar pre[class*="language-"] {
			margin-bottom: 0 !important;
		}
	}

	#docs-page-nav {
		display: flex;
		align-content: center;
		justify-content: space-between;

		#docs-page-nav-kipper-origin,
		#docs-page-nav-kipper-origin:active,
		#docs-page-nav-kipper-origin:visited {
			color: var(--scheme-dark-gray);
			text-decoration: none !important;
		}

		#docs-page-nav-kipper-origin:hover {
			color: var(--scheme-primary);
		}

		.docs-page-nav-header,
		.docs-page-nav-header:active,
		.docs-page-nav-header:visited {
			color: black;
			text-decoration: none !important;
		}

		.docs-page-nav-header:hover {
			color: var(--scheme-primary);
		}

		ul li {
			padding-right: 0.25em;
		}

		#edit-page-on-github {
			display: flex;
			align-content: center;
			align-items: center;
			flex-direction: row;
			column-gap: 0.4rem;
			text-decoration: none;
			color: black;

			i.fa-brands.fa-github {
				margin: 0;
				padding: 0;
				line-height: unset;
			}

			&:hover {
				color: var(--scheme-primary);
			}
		}
	}
}

#nav-kipper-header {
	color: var(--scheme-dark-primary) !important;
	border-bottom: 1px var(--scheme-dark-primary) solid;
	padding-bottom: 0.5rem;
	margin: 0 0 1rem;
	font-weight: 500;
}

#nav-kipper-header > a,
#nav-kipper-header > a:visited {
	color: var(--scheme-dark-primary) !important;
}

.selected-page-sidebar-nav-header a {
	color: rgb(17, 24, 39) !important;
	background-color: rgba(255, 0, 79, 0.16) !important;
}

.sidebar-nav-header {
	display: flex;
	padding: 0.2rem 0;
	margin: 0;
	background-color: transparent;
}

.sidebar-nav-header > a,
.sidebar-nav-header > a:visited,
.sidebar-nav-header > a:active {
	color: rgba(75, 85, 99);
	text-decoration: none;
	padding: 0.25rem 0 0.25rem 1rem;
	border-radius: 6px;
	flex-grow: 1;
	font-size: 16px;
}

.sidebar-nav-header > a:hover {
	text-decoration: none;
	color: rgb(17, 24, 39);
	background-color: rgb(var(--scheme-primary-rgb), 0.12);
}

.api-docs-description {
	margin-left: 1rem;
}
