/*! Docs Formatting */

.docs-page-content-container {
	display: flex;
}

#docs-sidebar-nav-wrapper {
	display: flex;
	flex-direction: column;
	border-right: 1px solid rgba(25, 25, 28, 0.2);
	max-width: 16rem;
	min-width: 200px;
	padding: 2em 1.5em;
}

@media (max-width: 920px) {
	.docs-page-content-container {
		width: 60vw;
		padding: 2rem;
	}

	#docs-sidebar-nav-wrapper {
		width: 20vw;
	}
}

@media (min-width: 920px) {
	.docs-page-content-container {
		width: 55vw;
		padding: 4vw 4vw 4vw 6vw;
	}

	#docs-sidebar-nav-wrapper {
		width: 25vw;
	}
}

#docs-content {
	flex-grow: 1;
	width: inherit;

	& > section > article :first-child h1 {
		margin-top: 0.6rem;
	}

	img {
		width: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	p,
	div {
		& + p,
    	& + div:not(.code-toolbar, .toolbar, .toolbar-item), /* Avoid affecting Prism toolbar */
    	& + div.code-toolbar pre[class*="language-"] {
			margin: var(--default-parapgraph-margin) 0 0 0;
		}
	}

	div:last-child,
	article:last-child {
		&,
		& div.code-toolbar pre[class*="language-"] {
			margin-bottom: 0 !important;
		}
	}

	#docs-page-nav {
		display: flex;
		align-content: center;
		justify-content: space-between;

		#docs-page-nav-kipper-version {
			text-decoration: none;

			&,
			&:active,
			&:visited {
				color: var(--scheme-dark-gray);
			}

			&:hover {
				color: var(--scheme-primary);
			}
		}

		.docs-page-nav-header,
		.docs-page-nav-header:active,
		.docs-page-nav-header:visited {
			color: black;
			text-decoration: none !important;
		}

		.docs-page-nav-header:hover {
			color: var(--scheme-primary);
		}

		ul li {
			padding-right: 0.25em;
		}

		#edit-page-on-github {
			display: flex;
			align-content: center;
			align-items: center;
			flex-direction: row;
			column-gap: 0.4rem;
			text-decoration: none;
			color: black;

			i.fa-brands.fa-github {
				margin: 0;
				padding: 0;
				line-height: unset;
			}

			&:hover {
				color: var(--scheme-primary);
			}
		}
	}
}

#docs-sidebar-nav-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 0.5rem;
	margin: 0 0 1rem;
	font-weight: 500;
	border-bottom: 1px var(--scheme-dark-primary) solid;
	color: var(--scheme-dark-primary) !important;

	& > #docs-version-selector-button-wrapper {
		/* A minimum width to prevent the button from being too small with short versions */
		min-width: 5rem;
		display: flex;
		align-content: center;
		justify-content: center;

		button {
			display: flex;
			flex-direction: row;
			align-content: center;
			justify-content: center;
			column-gap: 0.4rem;
			padding: 0 0.5rem 0 0.5rem;
			background-color: white;
			border: none;
			cursor: pointer;

			&:hover {
				color: var(--scheme-primary);
				background-color: var(--scheme-gray);
			}

			.fa-caret-down::before {
				display: block;
				margin-top: 0.7em;
			}
		}
	}

	& h6,
	& .h6 {
		margin-top: 0.5rem;
	}

	& > a,
	& > a:visited {
		color: var(--scheme-dark-primary) !important;
	}
}

.sidebar-nav-header-list-item {
	display: flex;
	padding: 0.2rem 0;
	margin: 0;
	background-color: transparent;

	& > a {
		&,
		&:visited,
		&:active {
			color: rgba(75, 85, 99);
			text-decoration: none;
			padding: 0.25rem 0 0.25rem 1rem;
			border-radius: 6px;
			flex-grow: 1;
			font-size: 16px;
		}

		&:hover {
			text-decoration: none;
			color: rgb(17, 24, 39);
			background-color: rgb(var(--scheme-primary-rgb), 0.12);
		}
	}
}

.sidebar-nav-current-header-list-item a {
	color: rgb(17, 24, 39) !important;
	background-color: rgba(255, 0, 79, 0.16) !important;
}

.api-docs-description {
	margin-left: 1rem;
}
