/*! Configuration for the Playground */

#interactive-console {
	& #left-console-interface {
		margin: 0;
		display: flex;
		flex-grow: 2;

		& #playground-option-menu {
			border-bottom: 2px solid var(--scheme-gray);
		}

		& #clear-content-list-item {
			margin-right: 1rem;
		}

		/* The entire code entire window -> parent of the label and textarea */
		& #code-editor {
			display: flex;
			flex-grow: 1;
			min-width: 0;
			min-height: 0;

			/*
       * The user input fields - the two fields will be put over each other to make it look
       * like a single field
       */
			& #code-editor-textarea,
			& #highlighting-field {
				/* Putting them on top of each other */
				position: absolute;
				flex-grow: 0;

				/* Allow scrolling */
				overflow: auto;

				/* Identical styling */
				margin: 0;
				padding: 1rem;
				resize: none;
				border: none;
				outline: none;
				max-height: 60vh;
				max-width: 70vw;
			}

			& #code-editor-textarea,
			& #highlighting-field,
			& #highlighting-field * {
				/* Also add text styles to highlighting tokens */
				font-size: 14px;
				font-family: consolas, monospace;
				line-height: 18px;
				background-color: white;
				tab-size: 2;
			}

			& #code-editor-textarea {
				/* Move the textarea in front of the result */
				z-index: 1;
				color: transparent;
				background: transparent;
				caret-color: var(--scheme-primary);

				&::selection {
					text-shadow: none;
					background: rgba(70, 93, 160, 0.2);
				}
			}

			& #highlighting-field {
				z-index: 0;

				& #highlighting-field-content {
					margin: 0 !important;
					padding: 0 !important;
					border-radius: 0 !important;
				}
			}
		}
	}

	& .playground-button button {
		padding: 1rem 1rem;
		background-color: white;
		border: none;
		cursor: pointer;

		&:hover {
			color: var(--scheme-primary);
			background-color: var(--scheme-gray);
		}
	}

	/* Sidebar styling */
	& #shell-sidebar {
		margin: 0;
		display: flex;

		& #shell-sidebar-menu {
			padding: 0;
			width: inherit;

			& .playground-button {
				display: flex;
				flex-grow: 1;
			}

			& button {
				border-bottom: 2px solid var(--scheme-gray);
				flex-grow: 1;
			}
		}

		& #shell-output {
			& > .code-toolbar {
				& pre,
				& code {
					border-radius: 0;
				}
			}
		}

		& #shell-output {
			&,
			& > .code-toolbar,
			& > .code-toolbar > pre {
				display: flex;
				flex-grow: 1;
			}

			& #shell-sidebar-highlight-field {
				background-color: var(--scheme-console-blue);
				display: flex;
				flex-grow: 1;
				margin: 0;
				padding: 0;
				width: inherit;

				& > #shell-sidebar-highlight-field-content {
					border-radius: 0;
					align-self: flex-start;
					overflow: auto;
					overflow-wrap: break-word;
					word-wrap: break-word; /* For IE */

					/* Apply proper formatting */
					margin: 0;
					padding: 1rem;
					width: 30vw;
					min-height: 0;
					min-width: 0;
					flex-grow: 1;

					/* Update font */
					font-size: 14px;
					line-height: 18px;

					/* Tabs should be handled like spaces */
					tab-size: 1;
				}
			}
		}
	}
}
