/* Defines Screen-Specific size variables and overwrites */

:root {
	--large-screen-size: 1200px;
	--middle-screen-size: 800px;
	--small-screen-size: 600px;
}

#main-frame {
	display: flex;

	& #actual-content {
		display: flex;
		height: 100vh;
		flex-grow: 1;
		flex-direction: column;

		& .page-header,
		& #nav-header {
			background-color: var(--scheme-primary);
			display: flex;
			flex-direction: column;
		}
	}
}
