/*! Text and Header Formatting */

:root {
	--default-section-margin: 1.6rem;
	--default-article-margin: 0.8rem;
	--default-parapgraph-margin: 1rem;
}

html {
	font-family: "Inter", Georgia, Verdana, monospace;
}

section {
	margin: var(--default-section-margin);
}

article {
	margin-bottom: var(--default-article-margin);
}

#docs-page-nav + article > :first-child {
	margin-top: 1rem;
}

p,
em,
strong,
strike,
input,
textarea,
image {
	& + p,
	& + em,
	& + strong,
	& + strike,
	& + input,
	& + textarea,
	& + image {
		margin: var(--default-parapgraph-margin) 0 0 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: flex;
	align-items: center;
	margin-bottom: 0.5em;

	div &,
	section &,
	article &,
	li &,
	.red-highlight-text & {
		margin-top: 1.2em;
	}

	#markdown-content div &:first-child,
	#markdown-content .red-highlight-text &:first-child,
	article .red-highlight-text &:first-child,
	section .red-highlight-text &:first-child {
		margin-top: 0;
	}
}

h1 {
	font-style: normal;
	font-size: 40px;
	line-height: 1.2;
	font-weight: 600;
}

h2 {
	font-style: normal;
	font-size: 28px;
	line-height: 1.2;
	font-weight: 500;
}

h3 {
	font-style: normal;
	font-size: 24px;
	line-height: 28px;
	font-weight: 300;
}

h4 {
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;
}

h5 {
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	font-weight: 300;
}

h6 {
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	font-weight: 300;
}

/* Block the CSS from applying text link formatting on buttons and docs headers */
:not(.sidebar-nav-header) {
	& > a {
		&:not(.button, .button-dark, .docs-button, .inverted-button, .underline-button),
		&:link:not(.button, .button-dark, .docs-button, .inverted-button, .underline-button),
		&:active:not(.button, .button-dark, .docs-button, .inverted-button, .underline-button),
		&:visited:not(.button, .button-dark, .docs-button, .inverted-button, .underline-button) {
			color: var(--scheme-dark-primary);
			text-decoration: none;
			background-color: transparent;
		}

		&:hover:not(.button, .button-dark, .docs-button, .inverted-button, .underline-button) {
			color: var(--scheme-primary);
			text-decoration: underline;
		}
	}
}

p {
	margin: 0;
}

.super-large-header {
	font-style: normal;
	font-weight: bold;
	display: flex;
	align-items: center;
	text-align: center;
	line-height: 120%;
	font-size: 2.2rem; /* Smallest font size */

	@media screen and (min-width: 427px) {
		font-size: 2.5rem;
	}

	@media screen and (min-width: 800px) {
		font-size: 3.5rem;
	}

	@media screen and (min-width: 1400px) {
		font-size: 4.5rem;
	}
}

/* Dynamic screen size definitions */
.text-content {
	margin: 2rem;
	max-width: 100vw;

	@media screen and (min-width: 1200px) {
		& {
			width: 66.6vw;
			margin-top: 4rem;
			margin-bottom: 4rem;
		}
	}
}

.link-on-red-background {
	&,
	&:visited,
	&:active {
		color: white !important;
		text-decoration: none;
	}

	&:hover {
		color: white !important;
		text-decoration: underline;
	}
}

/* Pure Text Content / Explanatory content */
.header-text-content {
	margin-bottom: 2rem;
}

.shadowed-box {
	border-radius: var(--default-border-radius);
	box-shadow: 0 0 0.5em var(--scheme-shadow-gray);
}

.gray-text {
	color: var(--scheme-dark-gray);
}

.red-text {
	color: var(--scheme-primary);
}

.yellow-text {
	color: var(--scheme-secondary);
}

.white-text {
	color: white;
}

.black-text {
	color: black;
}

.centered-text {
	text-align: center;
}

.red-highlight-text {
	border-radius: var(--default-border-radius);
	margin-right: var(--default-text-margin);
	border: 1px solid;
	border-color: var(--scheme-primary);
	color: var(--scheme-primary);
	padding: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: calc(100% - 4rem);

	& a {
		&:link,
		&:active,
		&:visited {
			/* Add additional emphasis, as red on red text is not highlighted well! */
			color: red;
		}
	}
}

/* Code Block Formatting */
code {
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	padding: 0.2em 0.4em;
	font-size: 85%;
	font-family: consolas, monospace;
	border-radius: var(--default-border-radius);
	background-color: var(--scheme-gray);
}

pre[class*="language-"] {
	margin: 1em 0;
	padding: 1em;
	overflow: auto;
	border-radius: var(--default-border-radius);
	background-color: var(--scheme-gray);

	& code {
		margin: 0;
		padding: 0;
		border-radius: 0;
		background: 0 0;
	}
}

/* Overwrite unfitting coloring */
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
	color: #9a6e3a !important;
	background: transparent !important;
}

.green-checkmark {
	text-emphasis: none;
	color: green;
}

.red-checkmark {
	text-emphasis: none;
	color: var(--scheme-primary);
}
