/* Presets values for a phone interface */

/* All content should take up the entire available width */
$phone-content-width: 100vw;

/* Docs variables */
$phone-docs-padding: 0;
$phone-docs-margin: 0;
