/* Presets values for a phone interface */

/* All content should take up the entire available width */
$phone-content-width: 100vw;
$phone-sidebar-width: 80vw;

/* Docs variables */
$phone-docs-padding: 0;
$phone-sidebar-padding: 2em 1.5em;
$phone-docs-margin: 0 0 2rem 0;
$phone-sidebar-margin: 0;
