<!-- Page EJS Config -->
<% let title = "Downloads"; %>
<% let description = "Downloads for the Kipper Language."; %>

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: title, description: description}) %>
</head>
<body>
<script src="./js/plugins.ts"></script>
<script src="./prism/prism.js"></script>

<!-- Show Error if JS is disabled or blocked -->
<noscript>Oops that shouldn't have happened! Please enable Java-Script to use our Site!</noscript>

<div id="main-frame">
    <div id="actual-content">
        <!-- The top element: menu and search bar -->
        <%- include('./partials/nav-bar', { header: true, title: title, description: description })  %>

        <!-- Main Content, where the text is located and the items unique to this site are defined -->
        <div class="text-page-content-container">
            <div id="download-content" class="text-content shadowed-box">
                <section>
                    <article>
                        <h2>Download Source Code</h2>
                        <p>
                            To download the latest stable source code of Kipper, download the compressed package as a
                            <code>zip</code> or <code>tar.gz</code> with the links below:
                        </p>
                        <ul class="flex-column">
                            <li>
                                <a href="https://github.com/Luna-Klatzer/Kipper/zipball/main/">Github Source Code
                                    (zip)</a>
                            </li>
                            <li>
                                <a href="https://github.com/Luna-Klatzer/Kipper/tarball/main/">Github Source Code
                                    (tar.gz)</a>
                            </li>
                        </ul>
                    </article>
                    <article>
                        <h2>Include Kipper in an HTML file</h2>
                        <p>
                            If you want to use Kipper inside your browser, then you can include the browser-standalone
                            version of
                            Kipper:
                        </p>
                        <pre><code class="language-html">&lt;!-- Babel dependency --&gt;
&lt;script src="https://unpkg.com/@babel/standalone/babel.min.js"&gt;&lt;/script&gt;

&lt;!-- Kipper --&gt;
&lt;script src="https://cdn.jsdelivr.net/npm/@kipper/core@latest/kipper-standalone.min.js"&gt;&lt;/script&gt;</code></pre>
                        <p>
                            For more info go to the quickstart guide
                            <a href="./docs/quickstart.html">here.</a>
                        </p>
                    </article>
                    <article>
                        <h2>Install the NPM module</h2>
                        <h3>Trying out Kipper</h3>
                        <p>
                            For simply trying out Kipper the following command can be used, which will globally install
                            Kipper and
                            the Kipper CLI, making Kipper available to the entire Node.js installation and your
                            operating system
                            (This also means you can call
                            <code>kipper</code> from any terminal in any directory on your system):
                        </p>
                        <pre><code class="language-bash">npm install -g @kipper/cli</code></pre>
                        <article class="red-highlight-text">
                            <h3>Important</h3>
                            If possible avoid installing Kipper globally if you intend to use it inside your own
                            projects, as it
                            can cause issues with locally installed versions (node project dependencies). For a
                            localised and
                            project-dependent kipper installation
                            <a href="https://docs.npmjs.com/specifying-dependencies-and-devdependencies-in-a-package-json-file">
                                add <code>kipper</code> to your <code>package.json</code>.
                            </a>
                        </article>
                        <h3>Add Kipper to your project</h3>
                        <p>
                            This steps requires that you have a working node project already setup and ready to be used.
                            If you
                            don't have one yet, you can simply do the following to create a new package:
                        </p>
                        <pre><code class="language-bash">npm init</code></pre>
                        <p>
                            To add Kipper to your project dependencies use
                            <code>--save</code> or <code>--save-dev</code> to add it to the development dependencies:
                        </p>
                        <pre><code class="language-bash">npm install @kipper/cli --save/--save-dev</code></pre>
                        <p>
                            Replace <code>@kipper/cli</code> with <code>@kipper/core</code> if you only want the core
                            Kipper
                            Compiler and API.
                        </p>
                    </article>
                    <article>
                        <h2>Check Compiler installation</h2>
                        <p>
                            To check whether the Kipper compiler has been properly installed, run the following command
                            in your
                            project's working directory (where it has been set up) or if you have it installed globally,
                            anywhere:
                        </p>
                        <pre><code class="language-bash">kipper --version</code></pre>
                        <p>
                            If the output shows something like the following output (version, operating system and
                            nodejs version
                            might be different), your kipper installation should be set up and ready to use!
                        </p>
                        <pre><code class="language-bash">kipper/0.8.1 win32-x64 node-v16.13.0</code></pre>
                        <article class="red-highlight-text">
                            <h3>Important</h3>
                            <p>
                                On some systems the CLI identifier <code>kipper</code> may not work and as such as a
                                replacement
                                <code>npx</code> should be used. For example:
                            </p>
                            <pre><code class="language-bash">npx kipper</code></pre>
                            <p>For yarn, you can also use:</p>
                            <pre><code class="language-bash">yarn kipper</code></pre>
                        </article>
                    </article>
                </section>
            </div>
        </div>
        <!-- Footer bar - contains some links and general copyright notice -->
        <%- include('./partials/footer') %>
    </div>
</div>

<!-- Overlay for displaying search results -->
<%- include('./partials/search-bar-overlay') %>
</body>
</html>
