<!-- Page EJS Config -->
<% let title = "Welcome to Kipper!"; %>
<% let description = "The new customisable and easy to use type-safe language for the web and Node.js! "; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', { title: title, description: description }) %>
</head>
<body>
<script src="./js/plugins.ts"></script>
<script src="./prism/prism.js"></script>

<!-- Show Error if JS is disabled or blocked -->
<noscript>Oops that shouldn't have happened! Please enable Java-Script to use our Site!</noscript>
<div id="main-frame">
    <div id="actual-content">
        <!-- The top element: menu and search bar -->
        <%- include('./partials/nav-bar', { header: false }) %>

        <!-- Main Content, where the text is located and the items unique to this site are defined -->
        <div class="text-page-content-container">
            <section id="homepage-content">
                <ul class="no-style-list flex-row flex-parent-container flex-end">
                    <li>
                        <section id="welcome-text" class="flex-parent-container flex-column flex-start">
                            <h2 id="welcome-header" class="super-large-header">Welcome to Kipper!</h2>
                            <p id="welcome-description">
                                The new customisable and easy to use type-safe language for the web and Node.js!
                            </p>
                            <p class="flex-parent-container flex-row flex-start">
                                <a href="./playground.html" class="button"> Try our Playground </a>
                                <a href="./docs/index.html" class="inverted-button"> View the Kipper docs </a>
                            </p>
                        </section>
                    </li>
                    <li>
                        <a href="./playground.html">
                            <img id="welcome-image" src="img/carbon/carbon-code-snippet.png" alt="" />
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <!-- Footer bar - contains some links and general copyright notice -->
        <%- include('./partials/footer') %>
    </div>
</div>

<!-- Overlay for displaying search results -->
<%- include('./partials/search-bar-overlay') %>
</body>
</html>
